* {
  font-family: "Montserrat", sans-serif;
}

.logo {
  width: 25%;
  position: relative;
  left: 37.5%;
  top: 50px;
}

.epigraph {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 75%;
  left: 12.5%;
  position: relative;
}

.secondaryTitle {
  text-align: center;
  font-size: 25px;
  padding-top: 100px;
  color: #f76c6c;
  text-transform: uppercase;
}

hr {
  position: relative;
  top: 90px;
  width: 75%;
}
