* {
  font-family: "Montserrat", sans-serif;
}

.title {
  text-align: center;
  font-size: 70px;
  padding-top: 8%;
}

.epigraph {
  text-align: center;
  padding-top: 3%;
  padding-top: 8%;
  width: 75%;
  left: 12.5%;
  position: relative;
}

.secondaryTitle {
  text-align: center;
  font-size: 35px;
  padding-top: 5%;
}
