.title {
  text-align: center;
  font-size: 35px;
  padding-top: 25px;
  text-transform: uppercase;
  color: white;
}

.epigraph {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%;
  width: 75%;
  left: 12.5%;
  position: relative;
  color: white;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 98%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  padding-top: 100px;
  margin: 0;
  position: relative;
}

.banner {
  width: 100%;
  background-color: #3cc47c;
  position: relative;
  top: 62px;
  height: 300px;
}

ol {
  list-style: none;
  text-align: center;
}

.header {
  padding: 0;
  margin: 0;
}

.store {
  text-align: center;
  text-transform: uppercase;

  color: black;
  text-decoration: underline;
}

.store:hover {
  color: white;
  text-decoration: underline;
}
