.title {
  text-align: center;
  font-size: 35px;
  padding-top: 5%;
}

.secondTitle {
  text-align: center;
  font-size: 35px;
  color: black;
}

a:link {
  text-decoration: none;
}

.secondTitle:hover {
  color: #3eb650;
}

.epigraph {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 98%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 0;
  position: relative;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center space-between;
  width: 25%;
  border-radius: 1%;
  margin: 5px;
  height: 300px;
  text-align: center;
}
