.title {
  text-align: center;
  font-size: 35px;
  padding-top: 5%;
}

.secondTitle {
  text-align: center;
  font-size: 35px;
  color: black;
  padding-top: 8%;
}

a:link {
  text-decoration: none;
}

.secondTitle:hover {
  color: #8ee4af;
}

.epigraph {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 98%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 0;
  position: relative;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center space-between;
  width: 25%;
  border-radius: 1%;
  margin: 5px;
  height: 200px;
  text-align: center;
  border: 1px lightgray solid;
}

.list {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.list:hover {
  .type {
    color: #8ee4af;
  }
}

.list,
p {
  font-size: 17px;
  text-decoration-style: dashed;
}

.slogan {
  font-style: italic;
}

.banner {
  width: 100%;
  background-color: #8ee4af;
  position: relative;
  top: 50px;
}
